.wedding-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 16px;
    border: 2px solid #39393946;

}
.wedding-card:hover{
    /* background-color: #e09f3eb5; */
    background-image:linear-gradient(to bottom right, rgba(255,255,255,0.1), rgba(255, 255, 255, 0.05));
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 10px rgba(30,30,30,0.5);
}
.couple-img{
    display: grid;
    align-content: end;
    /* padding: 10px; */

    width: 300px;
    height: 400px;
    /* background-image: url('../assets/images/media_v1_6307091162595328_medium.jpeg'); */
    background-size: cover;
    border-radius: 16px 16px 0 0 ;
}
