*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #F5EBE0;
}

.btn{
  @apply m-1 content-center px-4 rounded border border-black ;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #00000080; 
}
::-webkit-scrollbar-thumb {
  background: #ffffff82; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffffd5;
}